.menu ul {
  margin: 0;
  padding: 4px;
}
.menu ul li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
}

a {
  color: rgb(221, 221, 214);
}
a:visited {
  color: #ff9a27;
}
a:active {
  color: #4b4b4b;
}

body {
  margin: 0;

  background-color: rgb(149, 149, 149);
  color: rgb(221, 221, 214);
  font-family: Arial;
  text-align: center;
}

section {
  padding: 0px 40px;
  text-align: left;
}
footer {
  padding: 40px 0px;
}

div#textAndImage {
  position: relative;
  width: 400px;
  height: 600px;
  margin: auto;
}
.textTitle {
  position: absolute;
  top: 500px;
  background: #ff9a27c3;
  color: rgb(221, 221, 214);
  width: 400px;
  text-align: center;
  font: bold 24px/34px Helvetica, Sans-Serif;
}
.textBody {
  position: absolute;
  top: 534px;
  color: rgb(221, 221, 214);
  width: 380px;
  height: 46px;
  background: rgb(149, 149, 149, 0.7);
  padding: 10px;
  text-align: left;
  font: bold 14px Helvetica, Sans-Serif;
}

#nameUser::placeholder {
  color: rgb(221, 221, 214);
  font: 20px "Fira Sans", sans-serif;
}
#nameUser {
  outline: none;
  height: 25px;
  width: 340px;
  border: 1px solid;
  border-radius: 25px 25px 0px 0px;
  font: 20px "Fira Sans", sans-serif;
  padding: 10px 30px;
  background-color: rgb(149, 149, 149);
  color: rgb(221, 221, 214);
}
#commentUser {
  width: 340px;
  outline: none;
  height: 150px;
  border: 1px solid;
  padding: 15px 30px;
  font: 20px "Fira Sans", sans-serif;
  resize: none;
  background-color: rgb(149, 149, 149);
  color: rgb(221, 221, 214);
}

#commentUser::placeholder {
  color: rgb(221, 221, 214);
  font: 20px "Fira Sans", sans-serif;
}

#commentsAutumn {
  margin: 0px 25px;
  padding: 0;
  border: 0;
  width: 400px;
}

#commentsList {
  border: 1px solid;
  height: 445px;
  width: 100%;
  margin: 15px 0px;
  color: rgb(221, 221, 214);
  overflow: auto;
}

#commentsList::-webkit-scrollbar {
  width: 10px;

  background-color: rgb(149, 149, 149);
}

#commentsList::-webkit-scrollbar-thumb {
  background-color: rgb(221, 221, 214);
  border-radius: 5px;
}

#commentUser::-webkit-scrollbar {
  width: 10px;

  background-color: rgb(149, 149, 149);
}

#commentUser::-webkit-scrollbar-thumb {
  background-color: rgb(221, 221, 214);
  border-radius: 5px;
}
